.git
.gitignore
.env
.env.*
!.env.example

__pycache__
*.pyc
*.pyo
.pytest_cache

.venv
venv
env

.idea
.vscode
*.swp
*.swo

deploy/
docs/
tests/
test_image&text/
.github/

*.md
!README.md

*.jpeg
*.png
*.jpg
